*{
    margin: 0;
}

/* @media (min-width:320px) and (max-width: 480px){  */

.forms{
    height: 100%;
    width: 100%;
}

/* prueba */
.background{
    background-image: url(../images/767352.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    height: 100vh;
    
}

.rectangle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin: 55% 20%;
    border-radius: 15px;
    opacity: 70%;
}

.rectangle > p{
    padding: 17px;
    font-family: 'Bad Script', cursive;
    font-size: 1.2rem;
}

.rectangle > h1{
    font-family: 'Gotu', sans-serif;
    font-size: 1.4rem;
}

/* prueba */
a{
    text-decoration: none;
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
    font-weight: bolder;
    color: rgba(34, 34, 34, 0.78);
    cursor: pointer;
}

/* prueba */
a:hover{
    color:rgba(150, 147, 145, 1);
}

/* prueba */
.backgroundImage{
    background-image: url(../images/background2.png);
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.view{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: stretch;
    background-color: white;
    border-radius: 25px;
}

.titles{
    font-family: 'Gotu', sans-serif;
    font-size: 35px;
    width: 260px;
    text-align: center;
    color: rgba(34, 34, 34, 0.78);
    padding: 40px 20px;
}

.emailPassword, .registerInputs{
    background-color: rgba(255, 255, 255, 0.22);
    border: 1px solid #969391;
    border-radius: 20px;
    height: 1.875rem;
    width: 15.625rem;
    font-family: "Roboto", sans-serif;
    font-size: 0.875rem;
    color: black;
    text-align: center;
    margin-bottom: 20px;
}

.buttonsForm{
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    border-radius: 20px;
    height: 2rem;
    width: 16rem;
    background-color: #BABFA3;
    color: white;    
    border: solid #BABFA3;
    margin-bottom: 30px;
}

.signUpResgister{
    background-color: rgba(255, 255, 255, 0.22);
    border: 1px solid #90C9BB;
    border-radius: 20px;
    height: 1.875rem;
    width: 15.625rem;
    font-family: "Roboto", sans-serif;
    font-size: 0.875rem;
    color: #90C9BB;
    text-align: center;
}

.containerForm > h3{
    font-family: "Roboto", sans-serif;
    font-size: 0.875rem;
    color:#90C9BB;
}

#submitSingUp{
    background-color: #90C9BB;;
    border: solid #90C9BB;
}

.view > h3,p{
    font-family: "Roboto", sans-serif;
    font-size: 0.875rem;
    color: rgba(150, 147, 145, 0.8);
    padding-bottom: 40px;
}

.text{
    font-size: 0.875rem;
    font-family: "Roboto", sans-serif;
    color: #BABFA3;
    margin-bottom: 30px;
}
/* prueba */
.gmail{
    border: none;
    border-radius: 20px;
    padding: 5px 10px;
    background-color: #C92A2A;
    opacity: 70%;
    margin-bottom: 20px;
    height: 1.7rem;
    width: 6rem;
}

.googleImage{
    height: 1rem;
    width: 1rem;
}

/* } */