
*{
    margin: 0;
}

/* @media (min-width:320px) and (max-width: 480px){  */

.forms{
    height: 100%;
    width: 100%;
}

/* prueba */
.background{
    background-image: url(../images/767352.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    height: 100vh;
    
}

.rectangle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin: 55% 20%;
    border-radius: 15px;
    opacity: 70%;
}

.rectangle > p{
    padding: 17px;
    font-family: 'Bad Script', cursive;
    font-size: 1.2rem;
}

.rectangle > h1{
    font-family: 'Gotu', sans-serif;
    font-size: 1.4rem;
}

a{
    text-decoration: none;
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
    font-weight: bolder;
    color: rgba(34, 34, 34, 0.78);
    cursor: pointer;
}

a:hover{
    color:rgba(150, 147, 145, 1);
}

.enter{
    box-shadow: 1px 2px 11px -1px rgba(94,90,84,0.8);
}

.backgroundImage{
    background-image: url(../images/background2.png);
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.view{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: stretch;
    background-color: white;
    border-radius: 25px;
}

.titles{
    font-family: 'Gotu', sans-serif;
    font-size: 35px;
    width: 260px;
    text-align: center;
    color: rgba(34, 34, 34, 0.78);
    padding: 40px 20px;
}

.emailPassword, .registerInputs{
    background-color: rgba(255, 255, 255, 0.22);
    border: 1px solid #969391;
    border-radius: 20px;
    height: 1.875rem;
    width: 15.625rem;
    font-family: "Roboto", sans-serif;
    font-size: 0.875rem;
    color: black;
    text-align: center;
    margin-bottom: 20px;
}

.buttonsForm{
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    border-radius: 20px;
    height: 2rem;
    width: 16rem;
    background-color: #BABFA3;
    color: white;    
    border: solid #BABFA3;
    margin-bottom: 30px;
}

.buttonsForm:hover{
    cursor: pointer;
    transform: scale(1.03);
}

.signUpResgister{
    background-color: rgba(255, 255, 255, 0.22);
    border: 1px solid #90C9BB;
    border-radius: 20px;
    height: 1.875rem;
    width: 15.625rem;
    font-family: "Roboto", sans-serif;
    font-size: 0.875rem;
    color: #90C9BB;
    text-align: center;
}

.containerForm > h3{
    font-family: "Roboto", sans-serif;
    font-size: 0.875rem;
    color:#90C9BB;
}

#submitSingUp{
    background-color: #90C9BB;;
    border: solid #90C9BB;
}

.view > h3,p{
    font-family: "Roboto", sans-serif;
    font-size: 0.875rem;
    color: rgba(150, 147, 145, 0.8);
    padding-bottom: 40px;
}

.text{
    font-size: 0.875rem;
    font-family: "Roboto", sans-serif;
    color: #BABFA3;
    margin-bottom: 30px;
}
/* prueba */
.gmail{
    border: none;
    border-radius: 20px;
    padding: 5px 10px;
    background-color: #C92A2A;
    opacity: 70%;
    margin-bottom: 20px;
    height: 1.7rem;
    width: 6rem;
}

.gmail:hover{
    cursor: pointer;
    transform: scale(1.03);
}

.googleImage{
    height: 1rem;
    width: 1rem;
}

.errorMessage{
    background-color: rgba(34, 34, 34, 0.2);
    font-family: "Roboto", sans-serif;
    font-size: 0.68rem;
    text-align: center;
    color:rgba(94,90,84,0.8);
    width: 250px;
    height: 15px;
    padding: 4px;
    margin-bottom: 20px;
    border-radius: 5px; 
} 

.header,.footer{
    background-color: rgba(186, 191, 163, 1);
    height: 8vh;
    text-align: center;
    font-family: 'Gotu', sans-serif;
    font-size: 0.75rem;
    color: rgba(99, 91, 83, 1);
}

.header{  
    width: 100%;
    height: 4rem;
    position: fixed;
    box-shadow: 1px 2px 11px -1px rgba(94,90,84,0.6);
} 

.navBar{
    display: flex;
    justify-content: space-between;
}

ul>li{
    padding: 8px;
    list-style-type: none;
    align-items: center
}

.icon{
    height: 2rem;
    width: 2rem;
}

.logo{
    height: 3rem;
    width: 3rem;
}

.search{
    width: 25%;
    height: 0.62rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'Gotu', sans-serif;
    font-size: 0.75rem;
    color: rgba(99, 91, 83, 1);
    background-color: white;
    background-image: url('../images/search-icon.png');
    background-repeat: no-repeat;
    background-size: 1rem;
    background-position: 10px 10px; 
    padding: 10px 30px;
    margin-top: 0.94rem;
}

.interactions{
    display: flex;
    flex-flow: row wrap;
}

.homeSection{
    display: flex;
    flex-direction: column;
}

.main{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    margin-top: 6.9rem;
}

.containerInfo{ 
    width: 40%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

.userInfo{
    background-color: rgba(218, 209, 188, 1);
    width: 50%;
    height: 30%;
    border-radius: 18px;
    margin: 5px 30px;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}

.publications{
    width: 70%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 80px;
}


.content{
    background-color: rgba(218, 209, 188, 1);
    width: 70%;
    height: 15vh;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.thePost{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.userPost{
    font-family: 'Gotu', sans-serif;
    font-size: 16px;
    background-color: white; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    height: 50%;
    margin: 5px;
    padding: 6px 10px;
}

.inputPost{
    font-family: 'Gotu', sans-serif;
    font-size: 0.75rem;
    color: rgba(99, 91, 83, 1);
    width: 90%;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 2px;
}

.userImage{
    background-color: rgba(99, 91, 83, 1);
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    padding: 4px;
    display: flex;
    justify-content: center;
}

.buttonPost{
    background-color: rgba(99, 91, 83, 1);
    font-family: "Roboto", sans-serif;
    font-size: 0.7rem;
    color: white;    
    border-radius: 2px;
    height: 1.1rem;
    width: 6rem;
    border-style: none;
    margin-top: 5px;
}

.xBut{
    width: 2rem;
}

.buttonPost:hover{
    cursor: pointer;
    transform: scale(1.1);
}