body{
    background-color: aqua;
}

.contenido_container{
    background-color: brown;
    display: flex;
    flex-direction: column; 
    align-items: center;  
}

div{
    background-color: blue;
    display: flex;
    flex-direction: column;
}

.button{
    background-color: blueviolet;
}